@model String
@{
    ViewData["Title"] = "AddComment";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddComment</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Review for <em>@Model</em></h1>

    <form method="post">
        <label for="commenttext">Your review</label><br />
        <textarea type="text" name="commenttext"></textarea><br />
        <label for="commentator">Your name</label><br />
        <input name="commentator" /><br />

        <input type="submit" value="Enter" />
        <a class="btn btn-primary" href="/Home/Index">Cancel Comment</a>
    </form>
</body>
</html>
