@model TravelStory
@{
    ViewData["Title"] = "AddTravelStory";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTravelStory</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Let us hear about your travels to Japan</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="AddComment" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="CityID">Select City</label>
                    <select asp-for="CityID" class="form-control" asp-items="@ViewBag.CityID"></select>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Title">Introduction:</label>
                    <input name="title" /><br />
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="DateVisited">When did you visit? :</label>
                    <input name="dateVisted" /><br />
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Description">Your story:</label>
                    <textarea class="form-control" name="Description"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit Story
                    </button>
                    <a class="btn btn-primary" href="/Home/Index" type="submit">Back to home</a>
                    <br />
                   
                </div>
            </form>
        </div>
    </div>

    

</body>
</html>