@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Here Is Japan</title>
</head>
<body>
    <h1>About This Site</h1>
    <p>
        An ever-expanding(hopefully) site to celebrate the culture and beauty of Japan!
    </p>
    <a href="Index">Home</a>

    
    <a href="Culture">Japanese Culture</a>
    <a href="History">Japanese History</a>
</body>
</html>