@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Culture of Japan</title>
</head>
<body>
    <h1>Buddhism</h1>
    <p>
        One of Japan's best cultural imports!
    </p>
    <h2>Baseball</h2>
    <p>
        I'll just leave this here.
    </p>
    <a href="Index">Home</a>
    <a href="History">Japanese History</a>
</body>
</html>