@{
    ViewData["Title"] = "CultureOfJapan";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CultureOfJapan</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <h1>Buddhism</h1>
    <p>
        <a href="~/images/Japan4.jpg">One of Japan's best cultural imports!</a>         
    </p>
    <h2>Baseball</h2>
    <p>
        <a href="~/images/Japan3.jpg">I'll just leave this here.</a>
    </p>
    <br />
    <a href="Index">Home</a>
    <br />
    
    <a href="History">Japanese History</a>
</body>
</html>




