@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>History and Geography of Japan</title>
</head>
<body>
    <h1>History Highlights</h1>
    <p>
        Highs and lows of Japanese history!
        <img src="images/Japan1.jpg" alt="Sample Photo" /> 
    </p>
    <h2>Geographical Highlights</h2>
    <p>
        Witness the beauty of Japan!
    </p>
    <a href="Index">Home</a>
    <a href="Culture">Japanese Culture</a>
</body>
</html>fghfdh