@{

    ViewData["Title"] = "HistoryOfJapan";
    Layout = "_Layout";
    
}

<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>HistoryOfJapan</title>
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <h1>History Highlights</h1>
    <p>
        <a href="~/images/Japan1.jpg">Highs</a> and<a href="~/images/Japan5.jpg"> lows </a> of Japanese history!
    </p>
    <h2>Geographical Highlights</h2>
    <p>
        <a href="~/images/Japan2.jpg">Witness the beauty of Japan!</a>
    </p>
    <br />
    <a href="Index">Home</a>
    <br />
    <a href="Culture">Japanese Culture</a>
</body>
</html>